<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div class="container mb-5 p-0">
	<h1 class="mb-5 text-center">Coliving Community Map Search</h1>
	<div class="p-0" id="map" style='width: 100%; height: 600px; max-height: 100vh;'></div>
</div>
<script>
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
	const colivings = <%-JSON.stringify(coliving)%>;
</script>
<script src="./js/showMap.js"></script>