<% layout('layouts/boilerplate')%>
<div class="container">
    <h2>What is Coliving?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quos perferendis deserunt vitae nulla deleniti cum autem laudantium quo modi recusandae enim accusamus dignissimos eaque quisquam, voluptas qui libero debitis!</p>
    <h3>I don't know</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae aperiam consectetur voluptas rerum eos praesentium, officiis sapiente quam magni dolor itaque provident natus qui. Inventore ipsum dolorem magni atque autem!</p>
</div>