* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carme', sans-serif;
}

body {
    position: relative;
    min-height:100vh; 
    margin:0;
  }
  
  body::after {
    content: '';
    display: block;
    height: 50px; 
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

  @media only screen and (max-width: 991px) {
    .navbar-text .no-mobile {
      display: none;
    }
  }

.mapbox-img {
  max-width: 200px;
}